@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
.head {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 50vw;
  width: fit-content;
  font-family: "Montserrat", sans-serif;
  padding: 1rem;
  color: white;
  height: 100%;
}
.heading-head {
  width: 50vw;
  height: 96px;
  left: 115px;
  top: 298px;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 1000;
  font-size: 39px;
  line-height: 48px;
  padding-bottom: 50px;
  color: #ffffff;
  text-shadow: 0px 4px 37px rgba(255, 255, 255, 0.25);
}
.heading-para {
  text-align: start;
  font-weight: bolder;
  font-style: normal;
  font-weight: 700;
  font-size: 31px;
  line-height: 45px;
  background: linear-gradient(90deg, #ffffff 0%, #2f7feb 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.background {
  position: absolute;
  width: 776px;
  height: 776px;
  left: 69px;
  top: 147px;

  background: radial-gradient(
      53.9% 53.9% at 77.01% 30.21%,
      rgba(31, 195, 231, 0.84375) 0%,
      #1f34e7 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  opacity: 0.35;
  filter: blur(250px);
}
